*{
  font-family: 'Work Sans', sans-serif;
}
.header{
    padding-top: 45px;
    background: #F3C6BD;
    &-right{
      &-btn{
        &__button{
          padding: 15px 29px;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
        }
      }
    }
}
.dropdown-content {
    width: 612px;
    right: -5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content .Library a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  .banner-img{
    top: 16px;
    right: 3%;
    width: 60%;
  }
  .feature-question{
    padding: 77px 130px;
  } 
  